
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Work In Korea Verification Code</title>
</head>
<body>
    <div class="container"
    style="text-align: center;
    height: 500px;
    width: 100%;">
    <div class="content">
        <h1 style=" margin: 5px 0 ;
        color: #000;">
            인증번호
        </h1>
        <p style=" margin: 5px 0 ;
        color: #000;">
            <span style="font-weight:bold;"
            style="font-size: 25px;
            text-align: center;">
                {{ code }}
            </span>
        </p>
    </div>
    </div>
</body>
</html>